* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  overflow-x: hidden;
}

.container {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

#navbar_menu {
  display: none;
  color: #FFFFFF;
}

button {
  transition: all 0.3s linear;
}

header {
  height: 100vh;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
}
header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 15px 7vw;
  background-color: #171B2B;
}
header nav .container h1 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
header nav .container ul {
  display: flex;
}
header nav .container ul li {
  margin-left: 40px;
}
header nav .container ul li a {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  padding: 3px 0;
}
header nav .container ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s linear;
}
header nav .container ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s linear;
}
header nav .container ul li a:hover::after {
  left: 0;
}
header nav .container ul li a:hover::before {
  right: 0;
}
header nav .register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 16px 0;
  background-color: #D6EDFF;
}
header nav .register .register_item .btn {
  border: 1.5px solid transparent;
  border-radius: 4px;
  color: #000000;
  background-color: transparent;
  padding: 5px 8px;
  margin-left: 20px;
}
header nav .register .register_item .btn:hover {
  border: 1.5px solid #000000;
  color: #171B2B;
}
header .header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_main .header_text {
  width: 60%;
  height: 100vh;
  padding: 24vh 7vw;
  background-color: #171B2B;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
}
header .header_main .header_text h2 {
  text-transform: uppercase;
}
header .header_main .header_text h1 {
  font-size: 60px;
}
header .header_main .header_text p {
  line-height: 1.4;
  margin: 20px 0;
}
header .header_main .header_text form {
  width: 70%;
  position: relative;
}
header .header_main .header_text form input {
  width: 100%;
  outline: none;
  border: none;
  color: #1B213A;
  background-color: #F2F2F2;
  border-radius: 8px;
  text-align: start;
  padding: 16px;
}
header .header_main .header_text form button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  border-radius: 6px;
  background-color: #FB5E16;
  color: #FFFFFF;
  padding: 9px 8px;
  font-size: 16px;
}
header .header_main .header_text form button:hover {
  background-color: #de4802;
}
header .header_main .header_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
  background-color: #D6EDFF;
}

@media (min-width: 0px) and (max-width: 325px) {
  header nav {
    position: relative;
  }
  header nav .container {
    width: 100vw;
  }
  header nav .container ul {
    position: absolute;
    bottom: -130px;
    right: 3vw;
    flex-direction: column;
    background-color: #171B2B;
    display: none;
    transition: all 0.5s linear;
  }
  header nav .container ul li {
    margin: 0px 5px;
  }
  header nav .container #navbar_menu {
    display: block !important;
  }
  header nav .container .block {
    display: block;
  }
  header nav .register {
    display: none;
  }
  header .header_main .header_text {
    padding: 13vh 7vw;
    width: 100vw;
  }
  header .header_main .header_text h2 {
    font-size: 13px;
    margin-bottom: 10px;
  }
  header .header_main .header_text h1 {
    font-size: 25px;
  }
  header .header_main .header_text p {
    font-size: 12px;
  }
  header .header_main .header_text form {
    width: 100%;
  }
  header .header_main .header_img {
    display: none;
  }
}
@media (min-width: 325px) and (max-width: 576px) {
  header nav {
    position: relative;
  }
  header nav .container {
    width: 100vw;
  }
  header nav .container ul {
    position: absolute;
    bottom: -140px;
    right: 3vw;
    flex-direction: column;
    background-color: #171B2B;
    display: none;
  }
  header nav .container ul li {
    margin: 0px 5px;
  }
  header nav .container #navbar_menu {
    display: block !important;
  }
  header nav .container .block {
    display: block;
    transition: all 1s linear;
  }
  header nav .register {
    display: none;
  }
  header .header_main .header_text {
    padding: 18vh 7vw;
    width: 100vw;
  }
  header .header_main .header_text h2 {
    font-size: 17px;
    margin-bottom: 20px;
  }
  header .header_main .header_text h1 {
    font-size: 40px;
  }
  header .header_main .header_text p {
    margin: 20px 0;
    font-size: 15px;
  }
  header .header_main .header_text form {
    width: 90%;
  }
  header .header_main .header_img {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header nav {
    position: relative;
  }
  header nav .container {
    width: 100vw;
  }
  header nav .container ul {
    position: absolute;
    bottom: -140px;
    right: 5vw;
    flex-direction: column;
    background-color: #171B2B;
    display: none;
  }
  header nav .container ul li {
    margin: 0px 5px;
  }
  header nav .container #navbar_menu {
    display: block !important;
  }
  header nav .container .block {
    display: block;
    transition: all 1s linear;
  }
  header nav .register {
    display: none;
  }
  header .header_main .header_text {
    padding: 18vh 7vw;
    width: 100vw;
  }
  header .header_main .header_text h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  header .header_main .header_text h1 {
    font-size: 60px;
  }
  header .header_main .header_text p {
    margin: 20px 0;
    font-size: 20px;
  }
  header .header_main .header_text form {
    width: 70%;
  }
  header .header_main .header_img {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header nav {
    position: relative;
  }
  header nav .container {
    width: 100vw;
  }
  header nav .container ul {
    position: absolute;
    bottom: -140px;
    right: 5vw;
    flex-direction: column;
    background-color: #171B2B;
    display: none;
  }
  header nav .container ul li {
    margin: 0px 5px;
  }
  header nav .container #navbar_menu {
    display: block !important;
  }
  header nav .container .block {
    display: block;
    transition: all 1s linear;
  }
  header nav .register {
    display: none;
  }
  header .header_main .header_text {
    padding: 20vh 7vw;
    width: 100vw;
  }
  header .header_main .header_text h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  header .header_main .header_text h1 {
    font-size: 65px;
  }
  header .header_main .header_text p {
    margin: 20px 0;
    font-size: 24px;
  }
  header .header_main .header_text form {
    width: 70%;
  }
  header .header_main .header_img {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 0;
}

main {
  overflow-x: hidden;
  text-align: center;
}
main h1 {
  font-family: "Open Sans", sans-serif;
  margin: 80px 0;
  font-weight: 700;
}
main .container {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  font-family: "Open Sans", sans-serif;
  margin: 80px auto;
}
main .container .card {
  text-align: start;
}
main .container .card .card_pic {
  width: 100%;
}
main .container .card .card_pic img {
  width: 100%;
  height: 100%;
}
main .container .card .card_body {
  padding: 20px 20px;
  border: 1px solid #C4C4C4;
}
main .container .card .card_body h2 {
  font-weight: 600;
  padding: 5px 0;
  font-size: 22px;
  color: #1B213A;
}
main .container .card .card_body .size {
  display: flex;
  align-items: center;
}
main .container .card .card_body .size h4 {
  margin: 10px 0;
  font-size: 17px;
  color: #FB5E16;
}
main .container .card .card_body .size .new {
  font-weight: 500;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #C4C4C4;
  color: #1B213A;
}
main .container .card .card_body .size p {
  margin: 5px 0;
  padding-right: 10px;
  color: #646464;
}
main .container .card .card_body .size .p {
  border-left: 1px solid #C4C4C4;
  padding-left: 10px;
}
main .main_content {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: start;
  width: 80vw;
  height: 30vw;
  margin: 100px auto;
}
main .main_content .main_pic {
  width: 45%;
}
main .main_content .main_pic img {
  width: 100%;
  height: 100%;
}
main .main_content .main_text {
  width: 55%;
  padding-left: 40px;
  font-family: "Open Sans", sans-serif;
}
main .main_content .main_text h4 {
  color: #FB5E16;
  font-size: 2vw;
}
main .main_content .main_text h1 {
  color: #1B213A;
  margin: 2.6vh 0;
  font-size: 3.07vw;
}
main .main_content .main_text p {
  color: #646464;
  margin-bottom: 4vh;
  font-size: 1.2vw;
}
main .main_content .main_text button {
  border: 1.5px solid #FB5E16;
  padding: 1.3vh 0.9vw;
  font-size: 1.4vw;
  color: #FB5E16;
  font-weight: 600;
  background-color: transparent;
}
main .main_content .main_text button:hover {
  background-color: #FB5E16;
  color: #FFFFFF;
}
main #main_btn {
  border: 1.5px solid #FB5E16;
  padding: 10px 8px;
  font-size: 16px;
  color: #FB5E16;
  font-weight: 600;
  background-color: transparent;
}
main #main_btn:hover {
  background-color: #FB5E16;
  color: #FFFFFF;
}
main .slider {
  width: 100vw;
  height: 45vh;
  margin: 100px 0;
  background-color: #F2F2F2;
}
main .main_footer {
  width: 40vw;
  height: 30vh;
  margin: 100px auto;
  font-family: "Open Sans", sans-serif;
}
main .main_footer h1 {
  font-size: 38px;
  margin: 10px 0;
  color: #1B213A;
}
main .main_footer p {
  font-size: 16px;
  color: #666666;
  margin-bottom: 20px;
}
main .main_footer form {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
main .main_footer form input {
  width: 100%;
  outline: none;
  border: none;
  color: #1B213A;
  background-color: #F2F2F2;
  border-radius: 8px;
  text-align: start;
  padding: 16px;
}
main .main_footer form button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  border-radius: 6px;
  background-color: #FB5E16;
  color: #FFFFFF;
  padding: 9px 8px;
  font-size: 16px;
}
main .main_footer form button:hover {
  background-color: #de4802;
}
main button {
  outline: none;
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 576px) {
  main {
    width: 100vw;
  }
  main .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  main .main_content {
    height: 80vh;
    width: 90vw;
  }
  main .main_content .main_pic {
    margin: 0 auto;
    width: 80%;
  }
  main .main_content .main_text {
    margin-top: 100px;
    margin-bottom: 250px;
    width: 100%;
  }
  main .main_content .main_text h4 {
    font-size: 4.25vw;
  }
  main .main_content .main_text h1 {
    margin: 1.4vh 0;
    font-size: 5.46vw;
  }
  main .main_content .main_text p {
    line-height: 1.5;
    font-size: 2.2vw;
    margin-bottom: 2.6vh;
  }
  main .main_content .main_text button {
    padding: 0.6vh 1.6vw;
    font-size: 2vw;
  }
  main .main_footer {
    width: 90vw;
  }
  main .main_footer h1 {
    font-size: 30px;
  }
  main .main_footer p {
    font-size: 15px;
  }
  main .main_footer form {
    width: 90%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  main .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  main .main_content {
    height: 100vh;
    width: 80vw;
  }
  main .main_content .main_pic {
    margin: 0 auto;
    width: 80%;
  }
  main .main_content .main_text {
    margin-top: 100px;
    margin-bottom: 250px;
    width: 100%;
  }
  main .main_content .main_text h4 {
    font-size: 4.25vw;
  }
  main .main_content .main_text h1 {
    margin: 1.4vh 0;
    font-size: 5.36vw;
  }
  main .main_content .main_text p {
    line-height: 1.5;
    font-size: 2vw;
    margin-bottom: 2.6vh;
  }
  main .main_content .main_text button {
    padding: 1.2vh 1.5vw;
    font-size: 2vw;
  }
  main .main_footer {
    width: 80vw;
  }
  main .main_footer h1 {
    font-size: 35px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  main .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  main .main_content {
    display: flex;
    width: 90vw;
  }
  main .main_content .main_text h4 {
    font-size: 2.15vw;
  }
  main .main_content .main_text h1 {
    margin: 1.2vh 0;
    font-size: 3.02vw;
  }
  main .main_content .main_text p {
    line-height: 1.6;
    font-size: 1.3vw;
    margin-bottom: 1vh;
  }
  main .main_content .main_text button {
    padding: 0.4vh 0.8vw;
  }
  main .main_footer {
    width: 65vw;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  main .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
  }
  main .main_content {
    display: flex;
  }
  main .main_footer {
    width: 50vw;
  }
}
@media (min-width: 1200px) {
  main .main_content {
    display: flex;
  }
  main .main_footer {
    width: 50vw;
  }
}
footer {
  width: 100vw;
  background-color: #F2F2F2;
  border-bottom: 2px solid #DEDEDE;
}
footer .container {
  padding: 50px 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 35px;
  font-family: "Open Sans", sans-serif;
  width: 80vw;
}
footer .container h1 {
  color: #000000;
  margin-bottom: 25px;
}
footer .container h2 {
  margin-bottom: 25px;
  color: #1B213A;
}
footer .container p {
  margin-bottom: 15px;
  color: #1B213A;
}
footer .container a {
  color: #404040;
}
footer .last_content {
  padding: 25px 0;
  color: #646464;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
}
footer .last_content span {
  display: flex;
}
footer .last_content span #p {
  margin-left: 30px;
}

@media (min-width: 0px) and (max-width: 576px) {
  footer .container {
    text-align: center;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    width: 90vw;
  }
  footer .last_content {
    width: 90vw;
  }
  footer .last_content p {
    font-size: 12px;
  }
  footer .last_content #p {
    margin-left: 10px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  footer .container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 90vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .container {
    display: grid;
    gap: 0;
  }
  footer .container h1 {
    font-size: 25px;
  }
  footer .container h2 {
    font-size: 15px;
  }
  footer .container p {
    font-size: 12px;
  }
  footer .container a i {
    font-size: 25px;
  }
}
@media (min-width: 1024px) {
  footer .container a i {
    font-size: 35px;
  }
}/*# sourceMappingURL=style.css.map */